.DS_Store
data/config.default.php
data/config.php
data/config.php.dist
data/locales
data/schema
data/templates/default
data/templates/testdummy
data/*.sql
doc
scripts
src
www/themes/default
www/themes/testdummy
