.DS_Store
data/config.default.php
data/config.php
data/config.php.dist
data/locales
data/schema
data/templates/default
data/templates/testdummy
data/*.sql
doc
scripts
src
www/*.php
www/.htaccess
www/ajax
www/api
www/gsearch
www/js
www/player
www/themes/default
www/themes/testdummy
